.buttonStyles {
  background-color: #ffce56;
  width: 100px;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;

}

.container {
  
  padding: 20px;
}



.pieChartContainer {
  width: 300px;
}
.graphContainer {
  width: 70%;
}


.chart-buttons {
  button {
    background-color: #ffce56;
    width: 100px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
  }

}